.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.min-ht{
  min-height: 100vh;
}

.app{
  background:  linear-gradient(to right, #f8f9fa, #e9ecef);
 
}

/* .view-services{
    display: flex;
    flex-wrap: wrap;
} */

.logout:hover{
    cursor: pointer;
    color: gray;
}

.booking-card:hover{
    box-shadow: 3px 3px 15px 3px rgb(188, 188, 188);
}
